<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.nanosite.org/remix/Remix" 
       class = "org.nanosite.remix.remix.RemixPackage"
       genModel = "org/nanosite/remix/Remix.genmodel" /> 
	
  </extension>




</plugin>
